<form action="" class="container" autocomplete="off">
  <div class="row">
    <div class="col-12 mb-3">
      <label class="text-secondary fw-bolder ms-2 mb-1 text-uppercase">RECUPERAÇÃO DE SENHA</label>
      <div class="d-flex flex-column bg-white p-2 rounded">
        <div class="d-flex align-items-center mb-2">
          <div class="rounded-circle bg-teal _iconInputCircle d-flex align-items-center justify-content-center me-2">
            <i class="fa-solid fa-envelope text-white _iconInput"></i>
          </div>
          <input type="email" name="email" id="email" class="_input fs-6" placeholder="Informe seu e-mail cadastrado" autocomplete="off" />
        </div>
        <hr />
        <div class="d-flex align-items-center mt-2 mb-2">
          <div class="rounded-circle bg-teal _iconInputCircle d-flex align-items-center justify-content-center me-2">
            <i class="fa-solid fa-credit-card text-white _iconInput"></i>
          </div>
          <input type="text" name="cpf" id="cpf" class="_input fs-6" placeholder="Informe seu CPF" autocomplete="off" />
        </div>
        <hr />
        <button type="button" class="btn btn-teal text-white col-12 fw-bolder mt-2">Recuperar Acesso</button>
      </div>
      <label class="text-secondary ms-2 mt-1">Preencha um dos campos acima e toque em Recuperar Acesso. As instruções para alteração da sua senha serão enviadas para o seu e-mail que você tem cadastrado na nossa plataforma.</label>
    </div>
  </div>
</form>
